spring:
  datasource:
    url: jdbc:mariadb://host.docker.internal:3306/crayondb
    driver-class-name: org.mariadb.jdbc.Driver
    username: root
    password: root
    hikari:
      pool-name: jpa-hikari-pool
      maximum-pool-size: 5
      jdbc-url: ${spring.datasource.url}
      username: ${spring.datasource.username}
      password: ${spring.datasource.password}
      driver-class-name: ${spring.datasource.driver-class-name}
      data-source-properties:
        rewriteBatchedStatements: true
  jpa:
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    properties:
      hibernate:
        jdbc.batch_size: 1000
        format_sql: true
        show_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true
  data:
    mongodb:
      host: host.docker.internal
      port: 27018
      authentication-database: admin
      database: crayondb
      username: root
      password: '1q2w3e4r'
  redis:
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 2
    port: 6363
    host: host.docker.internal
    password: '1q2w3e4r'
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

# cors 설정
cors:
  allowed-origins: 'http://localhost:3000'
  allowed-methods: GET,POST,PUT,DELETE,OPTIONS
  allowed-headers: '*'
  max-age: 3600

logging:
  level:
    root: info
    org:
      hibernate: info