@tailwind base;
@tailwind components;
@tailwind utilities;

/* SUIT Font */
@font-face {
  font-family: 'SUIT';
  font-weight: 100;
  src: url('../../public/fonts/SUIT-woff2/SUIT-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 200;
  src: url('../../public/fonts/SUIT-woff2/SUIT-ExtraLight.woff2')
    format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  src: url('../../public/fonts/SUIT-woff2/SUIT-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url('../../public/fonts/SUIT-woff2/SUIT-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: url('../../public/fonts/SUIT-woff2/SUIT-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: url('../../public/fonts/SUIT-woff2/SUIT-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url('../../public/fonts/SUIT-woff2/SUIT-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  src: url('../../public/fonts/SUIT-woff2/SUIT-ExtraBold.woff2') format('woff2');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 900;
  src: url('../../public/fonts/SUIT-woff2/SUIT-Heavy.woff2') format('woff2');
}

/* CookieRun Font */
@font-face {
  font-family: 'CookieRun';
  font-weight: 400;
  src: url('../../public/fonts/CookieRunFont_TTF/CookieRun_Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'CookieRun';
  font-weight: 700;
  src: url('../../public/fonts/CookieRunFont_TTF/CookieRun_Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: 'CookieRun';
  font-weight: 900;
  src: url('../../public/fonts/CookieRunFont_TTF/CookieRun_Black.ttf')
    format('truetype');
}

:root {
  --suit-font: 'SUIT';
  --cookie-font: 'CookieRun';
}

body {
  font-family: var(--cookie-font);
  zoom:1;
}

#scroll::-webkit-scrollbar {
  display: none;
}

#neon {
  color: #fff;
  animation: flicker 1.5s infinite alternate;
  text-shadow:0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
}

@keyframes flicker {
    
  0%, 18%, 22%, 25%, 53%, 57%, 100% {

      text-shadow:
      0 0 4px #fff,
      0 0 11px #fff,
      0 0 19px #fff,
      0 0 40px #0fa,
      0 0 80px #0fa,
      0 0 90px #0fa,
      0 0 100px #0fa,
      0 0 150px #0fa;
  
  }
  
  20%, 24%, 55% {        
      text-shadow: none;
  }    
}

.swiper {
  width : 77%
}

.swiper .swiper-pagination-bullet {
  background-color: #000;
  margin: 0 10px !important;
}

